.navbar{
    background-color: #333;
    padding: 10px;
}
.Todolistheader{
    color: white;
    float: left;
    margin-left: 10%;
    font-size: 30px;
    font-weight: 700;
    padding: 10px;
}
.Todolistlinks{
    float: right;
    color: white;
    font-size: 15px;
    margin-right: 10%;
}
